<div class="container">
    <h1>Login to this awesome app</h1>
    <p>Best app to this day!</p>

    <form [formGroup]="loginForm">

        <div class="form-group">
            <label for="username">Email/Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username..."
                formControlName="username">

        </div>

        <div *ngIf="username.invalid && (username.dirty || username.touched)">

            <div *ngIf="username.errors.required">
                Username is required.
            </div>

            <div *ngIf="username.errors.minlength">
                Username must be at least 5 characters long.

            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password"
                placeholder="Enter your password..." formControlName="password">
        </div>

        <div *ngIf="password.invalid && (password.dirty || password.touched) ">

            <div *ngIf="password.errors.required">
                Password is required.

            </div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters long.

            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-lg" type="button" (click)="onLoginClick()">Login</button>
        </div>
        
        <br>

        <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
            <h4>Something went wrong</h4>
            <p>ERROR: {{ loginError }}</p>
        </div>

        <div *ngIf="isLoading">
            <p>Attempting to login...</p>
        </div>

    </form>

    <a routerLink="/register">I don't have an account, Register Now</a>
</div>